# Node
node_modules

# Logs
*.log

# IDE
.idea

# Build output
build
**/build
tmp
out-tsc
dist
**/dist

# Husky
.husky/_

# Environment
.env


# Testing
**/coverage

# Typescript
**/*.tsbuildinfo

# Environment
**/.env

# Nuxt
**/.nuxt

# Generated CI configuration
**/generated-ci-config.yml

# TLS certificates
**/*.pem

# Docker volumes
**/docker/volumes
docker/volumes

# PNPM
**/.pnpm-store

# Health file
health.json

# NextJS
**/.next

.nx/cache
.idea

.eslintcache