@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap");

/*****************   ROOT   *****************/
:root {
    /* Colors */
    --white: #ffffff;
    --black: #000000;
    --dark-grey: #757474;
    --light-grey: #eeeeee;
    --orange: #f08931;
    --blue: #076aa1;

    /* Sizes */
    --total-width: 100%;
    --navbar-height: 100px;
    --footer-height: 100px;
    --app-height: calc(100vh - var(--navbar-height) - var(--footer-height));
}

/*****************   BODY   *****************/
body {
    font-family: "Inter", sans-serif;
    background-color: var(--white);
    color: var(--black);
    font-weight: 500;
    margin: 0;
    width: var(--total-width);
}

/*****************   LAYOUTS   *****************/
.navbar {
    /*background-color: var(--orange);*/
    height: var(--navbar-height);
}

.app {
    display: grid;
    justify-content: center;
    height: var(--app-height);
}

.footer {
    /*background-color: var(--orange);*/
    height: var(--footer-height);
}

/*****************   TAG   *****************/
input {
    background-color: transparent;
    border: none;
    border-bottom: solid 1px var(--black);
    text-underline: var(--black);
    padding: 5px;
    font-size: 15px;
}
input:focus {
    outline: none;
}

.button {
    max-width: 150px;
    max-height: 50px;
    border: solid 2px var(--orange);
    padding: 5px 40px;
    font-size: 20px;
    border-radius: 30px;
    background-color: transparent;
}
.button:hover {
    background-color: var(--orange);
    color: var(--white);
}

/*****************   COMPONENTS   *****************/
.title {
    font-weight: 600;
    font-size: 40px;
    margin: 0;
    user-select: none;
}

.sign {
    height: 350px;
    width: 350px;
    background-color: var(--light-grey);
    padding: 50px;
    border-radius: 10%;
}

.form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.form-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}
.form-validate {
    width: inherit;
    display: grid;
    place-items: center;
}
